/* All CSS styles for website */

/* Page universal */
* {
  box-sizing: border-box;
}
/* body style */
body {
  margin: 0;
  padding: 10px;
  background-color: #febeb0;
  font-family: Arial, Helvetica, sans-serif;
}
/* Header style */
.header {
  background-color: #3d5a5b;
  padding: 25px;
  text-align: center;
}
/* Nav bar style */
.navbar {
  background-color: #2f365f;
  top: 0;
  position: sticky;
}
.navbar a {
  display: inline-block;
  text-decoration: none;
  padding: 14px 16px;
  color: #e3dcd2;
  position: sticky;
}
.navbar a:hover {
  background-color: #130e0e;
}
.active {
  background-color: #130e0e;
}
/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}
/* left column style */
.leftCol {
  float: left;
  width: 75%;
}
/* right column */
.rightCol {
  float: left;
  width: 25%;

  padding-left: 20px;
}
/* for card effect */
.card {
  background-color: #f7f1ed;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* footer sytle */
.footer {
  padding: 20px;
  background: #3d5a5b;
  margin-top: 20px;
}
/* image styling */
#img1 {
  width: 40%;
  float: left;
  margin-right: 15px;
  border: 2px solid #013328;
  border-radius: 15px 30px;
}
#img4 {
  width: 40%;
  float: left;
  margin-right: 15px;
  border: 2px solid #013328;
  border-radius: 180px;
}
#img4:hover {
  border: 2px dotted #013328;
}

/* image fill */
#img2 {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  object-fit: fill;
}
#img3 {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  object-fit: fill;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftCol,
  .rightCol {
    width: 100%;
    padding: 0;
  }
}
@media screen and (min-width: 1000px) {
  p {
    font-size: 18px;
  }
}
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 550px) {
  .navbar a {
    float: none;
    width: 100%;
    text-align: center;
  }
  .navbar {
    background-color: #2f365f;
    position: relative;
  }
}
/* animation   */
@keyframes links {
  0% {
    color: #ff0000;
  }
  25% {
    color: #ffff00;
  }
  50% {
    color: #0000ff;
  }
  100% {
    color: #008000;
  }
}
/* stlye classes */
.center {
  text-align: center;
}
.indent {
  text-indent: 50px;
}
.justify {
  text-align: justify;
}
.funFact {
  font-family: "Belanosima";
  font-size: 18px;
}
/* link styles */
p a,
dd a {
  text-decoration: none;
  color: #37a42b;
}
p a:hover,
dd a:hover {
  font-size: 1.05em;
  text-decoration: underline;
  animation-name: links;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
